<template>
    <v-card>
        <v-card-title>Transaksi</v-card-title>
        <v-card-subtitle>Tambah Transaksi</v-card-subtitle>
        <v-card-text>
            <v-alert type="error" v-if="error">
                <p v-for="(msg, index) in message" :key="index">
                    {{msg}}
                </p>
            </v-alert>
            <v-container>
                <v-row align-content="center">
                    <v-col cols="12" md="6">
                        <v-select
                                v-model="data.kategori_id"
                                :items="categories"
                                item-text="nama"
                                item-value="kategori_id"
                                outlined label="Kategori">

                        </v-select>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-select
                                v-model="data.subkategori_id"
                                :items="subcategories"
                                item-text="nama"
                                item-value="subkategori_id"
                                outlined label="Subkategori">

                        </v-select>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-select
                                v-model="data.tag_id"
                                :items="tags"
                                item-text="nama"
                                item-value="tag_id"
                                outlined label="Tag">

                        </v-select>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-select v-model="data.akun_id"
                                  :items="akuns"
                                  item-text="nama"
                                  item-value="akun_id"
                                  outlined label="Akun">

                        </v-select>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-text-field
                                v-model="data.nominal"
                                label="Nominal" outlined>

                        </v-text-field>
                    </v-col>
                    <v-col cols="12" md="6">
                        <v-textarea
                                v-model="data.keterangan"
                                label="Deskripsi" outlined>

                        </v-textarea>
                    </v-col>
                </v-row>
            </v-container>
            <v-divider/>
        </v-card-text>
        <v-card-actions>
            <v-btn color="primary" class="mb-2" @click="post()">Submit</v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    import {mapActions} from 'vuex'

    export default {
        data() {
            return {
                categories: [],
                subcategories: [],
                tags: [],
                error: false,
                message: [],
                akuns: [],
                data: {
                    akun_id: '',
                    subkategori_id: '',
                    user_id: '4',
                    tag_id: '',
                    kategori_id: '',
                    keterangan: '',
                    nominal: ' '
                }
            }
        },
        async mounted() {
            let url = {
                kategori: "kategori",
                subkategori: "subkategori",
                tag: "tag",
                users: "user",
                akun: "akun"
            }

            this.categories = await this.fetchData(url.kategori)
            this.subcategories = await this.fetchData(url.subkategori)
            this.tags = await this.fetchData(url.tag)
            this.akuns = await this.fetchData(url.akun)
        },
        methods: {
            ...mapActions('crud', ['fetchData', 'postData']),
            post: async function () {
                let param = {
                    url: 'transaksi',
                    data: this.data
                }
                
                let response = await this.postData(param)
                console.log(response);
                
                if (response.status === 'success') {
                    this.$router.back()
                }else{
                    this.error = true;
                    this.message = response.message
                }
            }
        }
    }
</script>