<template>
  <v-row>
    <v-col md="12">
      <v-dialog v-model="dialog" max-width="500px" transition="dialog-transition">
        <v-card>
          <v-card-title primary-title>Upload Excel</v-card-title>
          <v-form></v-form>
          <v-card-text>
            <v-file-input
              v-model="excel"
              ref="excel"
              label="excel"
              :rules="rulesExcel"
              show-size
              chips
            ></v-file-input>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="primary" dark :loading="$store.state.isLoading" @click="submit()">Upload</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <base-table :items="posts" :header="headers" title="Transaksi">
        <template slot="header">
          <v-tooltip bottom>
            <template v-slot:activator="{on}">
              <v-btn fab small color="warning" class="ml-2" v-on="on" @click="dialog = true">
                <v-icon>mdi-file-excel</v-icon>
              </v-btn>
            </template>
            <span>Import excel</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{on}">
              <v-btn
                small
                fab
                class="ml-2"
                color="indigo"
                @click="$_downloadFile('localhost:8000/api/export')"
                v-on="on"
              >
                <v-icon small>mdi-download</v-icon>
              </v-btn>
            </template>
            <span>Download Excel</span>
          </v-tooltip>
        </template>
      </base-table>
    </v-col>
  </v-row>
</template>
<script>
import { mapActions, mapState } from "vuex";
import BaseTable from "../../components/BaseTable";

export default {
  components: { BaseTable },
  data() {
    return {
      dialog: false,
      selectItem: {},
      excel: [],
      headers: [
        { text: "ID", value: "transaksi_id" },
        { text: "Kategori", value: "kategori.nama" },
        { text: "Nominal", value: "nominal" },
        { text: "Tanggal", value: "tanggal" },
        { text: "Aksi", value: "action", align: "center" }
      ]
    };
  },
  async mounted() {
    await this.fetchData("transaksi");
  },
  computed: {
    ...mapState("crud", ["posts"]),
    rulesExcel() {
      let val = this.excel;
      let rules = ["xls", "xlsx"];
      let name = "";
      if (val.name != null) name = val.name;

      return [
        () => {
          if (this.$_inArray(rules, this.$_fileType(name)) == -1)
            return "File Harus Excel";
          else if (val.size > 3000000) return "File harus kurang dari 3MB";
          else return false;
        }
      ];
    }
  },
  methods: {
    ...mapActions("crud", ["fetchData", "postData", "deleteData"]),
    async del(id) {
      if (confirm("Yakin ingin hapus ?")) {
        let params = {
          url: "/transaksi?transaksi_id=" + id
        };

        await this.deleteData(params);
      }
    },
    async submit() {
      let formData = new FormData();
      formData.append("file", this.excel);

      let params = {
        url: "transaksi/import",
        data: formData,
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };

      let request = await this.postData(params);
      if (request.status == "success") {
        this.fetchData("transaksi");
        this.dialog = false;
      }
    }
  }
};
</script>
