<template>
  <div class="container mt-4">
    <alert-notification tipe="danger" v-if="error">
      <strong v-for="(msg, index) in message" :key="index">{{msg}}</strong>
    </alert-notification>
    <v-card>
      <template slot="header">Edit Kategori</template>
      <template slot="text">
        <form action="post" @submit.prevent="$updateData(data)">
          <div class="container">
            <label for="nama">Nama Kategori</label>
            <input type="text" class="form-control" v-model="data.nama" />
          </div>
        </form>
      </template>
      <template slot="footer">
        <form action="post" @submit.prevent="$updateData(data)">
          <button class="btn btn-success" type="submit">Save</button>
        </form>
      </template>
    </v-card>
  </div>
</template>
<script>
import mixin from "@/mixins/";
export default {
  mixins: [mixin],
  data() {
    return {
      url: "http://127.0.0.1:8000/api/kategori/",
      data: {},
      message: "",
      error: false
    };
  },
  async created() {
    let params = this.$route.params.id;
    this.data = await this.$fetchDataSingle(params);
  }
};
</script>