<template>
    <v-row>
        <v-col md="12">
            <base-table :items="posts" :header="headers" title="kategori"/>
        </v-col>
    </v-row>
</template>
<script>
    import {mapActions, mapState} from 'vuex'
    import BaseTable from "../../components/BaseTable";

    export default {
        components: {BaseTable},
        data() {
            return {
                search: '',
                select: [],
                headers: [
                    {text: 'Id Kategori', value: 'kategori_id'},
                    {text: 'Nama', value: 'nama'},
                    {text: 'Action', value: 'action'},
                ]
            };
        },
        computed: {
            ...mapState('crud', ['posts'])
        },
        async mounted() {
            await this.fetchData('kategori')
        },
        methods: {
            ...mapActions('crud', ['fetchData'])
        }

    };
</script>