<template>
  <div class="container mt-3">
    <!-- Component alert -->
    <!-- <alert-notification :tipe="tipe" v-if="toast">
      <p>{{message}}</p>
    </alert-notification>-->

    <v-progress v-if="progress"></v-progress>

    <!-- <button-alert tipe="success" label="Sukses"></button-alert> -->
    <!-- <button-alert tipe="danger" label="Danger" message="login gagal"></button-alert> -->

    <!-- 
    <v-card>
      <template slot="header">
        <h1>Card Title</h1>
      </template>
      <template slot="text">
        <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </template>
      <template slot="footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </template>
    </v-card>
    -->

    <v-table :header="headers" :items="items" :search="false" :itempage="10" v-if="!progress">
      <!-- Menambahkan header -->
      <template slot="header">
        <th scope="cols">Action</th>
      </template>
      <!-- Menambahkan kolom -->
      <template slot="action" slot-scope="{item}">
        <button class="btn btn-danger btn-sm" @click="del(item.id)">
          <span class="fa fa-trash"/>
        </button>
      </template>
    </v-table>
  </div>
</template>
<script>
import mixin from "@/mixins/";
export default {
  mixins: [mixin],
  data: () => ({
    toast: false,
    headers: [
      {
        text: "UserId",
        value: "id"
      },
      {
        text: "id",
        value: "Id"
      },
      {
        text: "Title",
        value: "title"
      },
      {
        text: "Body",
        value: "body"
      }
    ],
    tipe: "",
    message: "",
    items: []
  }),
  created() {
    let app = this;
    // this.$root.$on("alert", function(message) {
    //   app.tipe = message.tipe;
    //   app.message = message.label;

    //   app.toast = true;
    //   setTimeout(function() {
    //     app.toast = false;
    //   }, 2000);
    // });

    app.loadData();
  },

  del() {}
};
</script>
