<template>
  <div class="container mt-2">
    <button class="btn btn-info btn-sm" @click="increment()">Increment</button>
    <button class="btn btn-info btn-sm ml-2" @click="decrement()">Decrement</button>
    <br />
    <br />
    Result {{count}}
    <div>
      <v-alert type="success">I'm a success alert.</v-alert>

      <v-alert type="info">I'm an info alert.</v-alert>

      <v-alert type="warning">I'm a warning alert.</v-alert>

      <v-alert type="error">I'm an error alert.</v-alert>
    </div>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";

export default {
  computed: {
    ...mapState(["count"])
  },
  methods: {
    ...mapMutations(["increment", "decrement"])
  }
};
</script>