<template>
  <div class="container mt-3">
    <ul v-for="(item, index) in items" :key="index">
      <li>{{item.name}}</li>
    </ul>
  </div>
</template>
<script>
import mixin from "@/mixins/";

export default {
  mixins: [mixin],
  data: () => ({
    items: []
  }),
  created() {
    let url = "https://jsonplaceholder.typicode.com/users";
    this.$fetchData(url).then(res => {
      this.items = res;
    });
  }
};
</script>