<template>
  <div class="container mt-3">
    <h1>Latihan Modal Promise</h1>
    <button class="btn btn-info" @click="changeModal()">Open Modal</button>
    <component :is="currentModal" :message="message" :tipe="tipe" v-if="showModal"></component>
  </div>
</template>
<script>
export default {
  data: () => ({
    currentModal: "",
    showModal: false,
    message: "",
    tipe: ""
  }),
  created() {
    var app = this;
    this.$root.$on("closeModal", () => {
      app.showModal = false;
    });
  },
  methods: {
    changeModal() {
      this.showModal = true;
      (this.tipe = "success"), (this.message = "pesan sukses");
      this.currentModal = `ModalPromise`;
    }
  }
};
</script>
<style scoped>
</style>