<template>
    <v-row>
        <v-col md="12">
            <base-table
                    title="Tag"
                    :items="posts"
                    :header="header"
                    :search="true"
                    />
        </v-col>
    </v-row>
</template>
<script>
    import BaseTable from '@/components/BaseTable'
    import {mapState, mapActions} from 'vuex'
    export default {
        data(){
            return {
                header: [
                    {
                        text: 'Tag ID',
                        value: 'tag_id'
                    },
                    {
                        text: "Nama",
                        value: 'nama'
                    },{
                        text: 'Action',
                        value: 'action'
                    }
                ]
            }
        },
        components: {
            BaseTable
        },
        async mounted() {
            await this.fetchData('tag')
            console.log(this.$options)
        },
        computed: {
            ...mapState('crud',['posts'])
        },
        methods: {
            ...mapActions('crud', ['fetchData'])
        }

    }
</script>
