<template>
  <div class="container">
    <router-link to="kategori/create" class="btn btn-success btn-sm mt-3">
      <span class="fa fa-plus"></span>Tambah data
    </router-link>
    <v-progress v-if="progress"></v-progress>
    <v-table :header="header" :items="items" itempage="10" v-show="!progress"></v-table>
  </div>
</template>
<script>
export default {
  data() {
    return {
      header: [
        {
          text: "SubkategoriID",
          value: "subkategori_id"
        },
        {
          text: "Kategori id",
          value: "kategori_id"
        },
        {
          text: "Nama",
          value: "nama"
        }
      ],
      url: "http://127.0.0.1:8000/api/subkategori"
    };
  },
  async created() {
    await this.$fetchData();
  }
};
</script>