<template>
  <div class="container">
    <h1>Item Rendering and conditional</h1>
    <div v-if="status">
      <ul class="list-group" v-for="(item, index) in items" :key="index">
        <li class="list-group-item">{{item}}</li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: ["items", "status"]
};
</script>