<template>
  <div class="container">
    <div class="jumbotron">
      <h1>{{title}}</h1>
      <p>{{content}}</p>
    </div>
  </div>
</template>
<script>
export default {
  props: ["title", "content"]
};
</script>