<template>
    <v-row>
        <v-col md="12">
            <base-table :items="posts" :header="headers" title="Akun"/>
        </v-col>
    </v-row>
</template>
<script>
    import {mapState, mapActions} from 'vuex'
    import BaseTable from "../../components/BaseTable";
    export default {
        components: {BaseTable},
        data() {
            return {
                headers: [
                    {
                        text: 'ID',
                        value: 'akun_id'
                    },
                    {
                        text: 'Nama',
                        value: 'nama'
                    },
                    {
                        text: 'Jenis',
                        value: 'jenis'
                    },
                    {
                        text: 'Aksi',
                        value: 'action'
                    }
                ]
            }
        },
        async mounted() {
            await this.fetchData('akun')
        },
        computed: {
            ...mapState('crud',['posts'])
        },
        methods: {
            ...mapActions('crud', ['fetchData'])
        }
    }
</script>