<template>
    <v-container>
        <v-row>
            <v-col md="6">
                <v-card elevation="2">
                    <v-sheet
                            class="v-sheet--offset mx-auto py-4 px-4"
                            color="blue"
                            elevation="8"
                            dark
                            max-width="calc(100% - 32px)">
                        <h3 class="text-center">VSHEET</h3>
                    </v-sheet>
                    <v-card-text>
                        <v-text-field class="mx-2" label="label">

                        </v-text-field>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="6">
                <v-card>
                    <v-sheet class="v-sheet--offset mx-auto py-4 px-4"
                             color="blue"
                             elevation="8"
                             dark
                             max-width="calc(100% - 32px)">
                        <h3 class="text-center">Profil</h3>
                    </v-sheet>
                    <v-card-text>
                        <v-list two-line>
                            <v-list-item>
                                <v-list-item-icon>
                                    <v-icon color="indigo">mdi-phone</v-icon>
                                </v-list-item-icon>

                                <v-list-item-content>
                                    <v-list-item-title>(650) 555-1234</v-list-item-title>
                                    <v-list-item-subtitle>Mobile</v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-icon>
                                    <v-icon>mdi-message-text</v-icon>
                                </v-list-item-icon>
                            </v-list-item>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="6">
                <v-card>
                    <v-card-title>Timeline</v-card-title>
                    <v-divider/>
                    <v-card-text>
                        <v-timeline>
                            <v-timeline-item v-for="(item, index) in items" :key="index">
                                <span slot="opposite">{{item.opposite}}</span>
                                <v-card>
                                    <v-card-title>{{item.header}}</v-card-title>
                                    <v-divider/>
                                    <v-card-text>{{item.title}}</v-card-text>
                                </v-card>
                            </v-timeline-item>
                        </v-timeline>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col md="6">
                <v-card>
                    <v-card-title>Transaksi user</v-card-title>
                    <v-divider/>
                    <v-card-text>
                        <v-list three-line>
                            <v-list-item>
                                <v-list-item-avatar>
                                    <v-img src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
                                           transition="scale-transition"
                                           width="40"/>
                                </v-list-item-avatar>
                                <v-list-item-content>
                                    <v-list-item-title> Title </v-list-item-title>
                                    <v-list-item-subtitle> Subtitle </v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
    export default {
        data(){
            return{
                items: [
                    {header: 'Header1', title: 'Title1', opposite: 'Opposite1'},
                    {header: 'Header2', title: 'Title2', opposite: 'Opposite2'},
                    {header: 'Header3', title: 'Title3', opposite: 'Opposite3'}
                ]
            }
        }
    }
</script>
<style>
    .v-sheet--offset{
        top: -20px;
        position: relative;
    }
</style>