<template>
    <v-container>
        <v-toolbar color="transparent" elevation="0">
            <v-spacer/>
            <v-menu transition="scroll-y-transition">
                <template v-slot:activator="{on}">
                    <v-btn icon v-on="on">
                        <v-icon>mdi-account</v-icon>
                    </v-btn>
                </template>
                <v-list two-line>
                    <v-list-item>
                        <v-icon left>mdi-account</v-icon>
                        <span>Account</span>
                    </v-list-item>
                    <v-list-item>
                        <v-icon left>mdi-logout</v-icon>
                        <span>Logout</span>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-toolbar>
        <v-card :loading="loading" class="mt-5">
            <v-card-title>Berita</v-card-title>
            <v-divider/>
            <v-card-text>
                <v-list-item three-line
                             v-for="(post, index) in pagination"
                             :key="index"
                             :style="`border-left: solid ${colors}`">
                    <v-list-item-content>
                        <v-list-item-title>{{post.title}}</v-list-item-title>
                        <v-list-item-subtitle>{{post.content}}</v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>
            </v-card-text>
            <v-card-actions>
                <v-pagination
                        v-model="current"
                        :length="page"
                        circle
                />
            </v-card-actions>
        </v-card>
    </v-container>
</template>
<script>
    export default {
        data() {
            return {
                loading: false,
                posts: [],
                page: 1,
                current: 1,
                paging: 5
            }
        },
        async created() {
            this.loading = true;
            await this.instance();
            this.loading = false
        },
        computed: {
            colors: function () {
                return this.$_randomColor()
            },
            pagination: function () {
                return this.$_pagination(this.posts, this.paging, this.current)
            }
        },
        methods: {
            async instance() {
                let request = await fetch('https://newsapi.org/v2/top-headlines?country=id&apiKey=bac68998f9674071a9ea22165701c3ff')
                let response = await request.json();
                this.posts = response.articles
                this.page = Math.floor(response.articles.length / this.paging)
            }
        }
    }
</script>