<template>
  <v-app>
    <nav-header v-show="token != null" />
    <v-content tag="body">
      <!--            <v-breadcrumbs :items="items">-->
      <!--                <template v-slot:divider>-->
      <!--                    <v-icon>mdi-forward</v-icon>-->
      <!--                </template>-->
      <!--            </v-breadcrumbs>-->
      <v-slide-x-transition>
        <router-view />
      </v-slide-x-transition>
    </v-content>
  </v-app>
</template>

<script>
import Header from "./components/Header";
import { mapState } from "vuex";

export default {
  data() {
    return {
      router: "",
      items: [],
      itemArray: [
        { id: 111, name: "John", age: 29 },
        { id: 112, name: "Sarah", age: 25 },
        { id: 122, name: "Kate", age: 22 },
        { id: 123, name: "Tom", age: 21 },
        { id: 125, name: "Emma", age: 24 }
      ]
    };
  },
  watch: {
    $route: function() {
      this.items = this.breadcrump(this.$route.fullPath);
    }
  },
  components: {
    "nav-header": Header
  },
  computed: {
    ...mapState("user", ["token"])
  }
};
</script>
<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
 {
  opacity: 0;
}
</style>
