<template>
     <div class="container mt-3">
          <div :class="`alert alert-${tipe}`">
               <slot></slot>
          </div>
     </div>
</template>
<script>
export default {
     props: ["tipe"]
};
</script>
