<template>
    <div class="container">
        <select class="form-control">

        </select>
    </div>
</template>
<script>
    export default {
        props: {
            items: {
                type: Array,
                required: true
            }
        }
    }
</script>