<template>
     <div class="container mt-2">
          <div class="card">
               <div class="card-header">
                    <slot name="header"></slot>
               </div>
               <div class="card-body">
                    <slot name="text"></slot>
               </div>
               <div class="card-footer">
                    <slot name="footer"></slot>
               </div>
          </div>
     </div>
</template>
