<template>
  <v-card>
    <v-sheet
      class="v-sheet--offset py-5 px-5 mx-auto"
      dark
      color="blue"
      width="calc(100% - 20px)"
      elevation="8"
    >
      <v-toolbar color="blue" elevation="0">
        <v-toolbar-title>Tabel {{ title }}</v-toolbar-title>
        <v-spacer />
        <v-tooltip bottom>
          <template v-slot:activator="{on}">
            <v-btn
              small
              :to="`${title.toLowerCase()}/create`"
              color="success"
              elevation="5"
              v-on="on"
              fab
              ripple
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
          <span>Tambah Data</span>
        </v-tooltip>
        <slot name="header" />
      </v-toolbar>
    </v-sheet>
    <v-data-table
      :items="items"
      :headers="header"
      :search="searchText"
      :loading="isLoading"
      loading-text="Menunggu ambil data..."
      class="elevation-5"
    >
      <template v-slot:item.slot="{item}">
        <slot name="item" :item="item"></slot>
      </template>

      <template v-if="search" v-slot:top>
        <v-text-field
          v-model="searchText"
          class="mx-5"
          prepend-icon="mdi-magnify"
          placeholder="Cari Data"
        />
      </template>
      <template v-slot:item.action="{ item }">
        <v-btn-toggle dark shaped>
          <v-tooltip bottom>
            <template v-slot:activator="{on}">
              <v-btn color="primary" v-on="on" x-small @click="dialog = true">
                <v-icon x-small>mdi-pencil</v-icon>
              </v-btn>
            </template>
            <span>Edit {{title}}</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{on}">
              <v-btn color="red" v-on="on" x-small @click="$parent.del(item.transaksi_id)">
                <v-icon x-small>mdi-delete</v-icon>
              </v-btn>
            </template>
            <span>Hapus {{title}}</span>
          </v-tooltip>
        </v-btn-toggle>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
import { mapState } from "vuex";
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    items: {
      Type: [Object, Array],
      required: true
    },
    header: {
      type: [Object, Array]
    },
    search: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      searchText: ""
    };
  },
  computed: {
    ...mapState(["isLoading"])
  }
};
</script>
