<template>
  <div>
    <alert-notification :tipe="tipe" v-if="toast">
      <p>{{message}}</p>
    </alert-notification>
    <button :class="`btn btn-${tipe} ml-2`" @click="openMessage()">
      {{label}}
      <slot></slot>
    </button>
  </div>
</template>
<script>
export default {
  props: ["tipe", "label", "message"],
  data: () => ({
    toast: false
  }),
  methods: {
    openMessage() {
      // this.$root.$emit("alert", {
      //   tipe: this.tipe,
      //   label: this.label
      // });
      this.toast = true;
    }
  }
};
</script>