<template>
    <v-container fluid>
        <nav-left/>
        <nav-right/>
        <v-app-bar app color="blue darken-2" dark collapse-on-scroll elevate-on-scroll>
            <v-app-bar-nav-icon @click.stop="drawerLeft = !drawerLeft"/>
            <v-toolbar-title>Application</v-toolbar-title>
            <v-spacer/>
            <v-menu>
                <template v-slot:activator="{on}">
                    <v-badge class="mr-6" color="warning" overlap>
                        <template v-slot:badge>0</template>
                        <v-btn v-on="on" icon>
                            <v-icon>mdi-email</v-icon>
                        </v-btn>
                    </v-badge>
                </template>
                <v-list two-line>
                    <v-list-item>
                        <v-icon left>mdi-account</v-icon>
                        <span>Account</span>
                    </v-list-item>
                    <v-list-item>
                        <v-icon left>mdi-logout</v-icon>
                        <span>Logout</span>
                    </v-list-item>
                </v-list>
            </v-menu>
            <v-btn icon>
                <v-avatar @click.stop="drawerRight = !drawerRight" v-if="!drawerRight">
                    <v-img src="https://randomuser.me/api/portraits/women/81.jpg"/>
                </v-avatar>
            </v-btn>
        </v-app-bar>
    </v-container>
</template>
<script>
    import {mapState, mapMutations} from 'vuex'
    import NavRight from "./NavRight";
    import NavLeft from "./NavLeft";

    export default {
        data: () => ({
            drawerLeft: true,
            drawerRight: false
        }),
        computed: {
            ...mapState('user', ['token']),
        },
        components: {
            NavRight, NavLeft
        },
        methods: {
            ...mapMutations('user', ['REMOVE_TOKEN', 'SET_THEME']),
            logout() {
                this.REMOVE_TOKEN()
                this.drawerRight = false
                this.$router.push('/login')
            }
        }
    }
</script>
<style>
    .active {
        color: azure;
    }
</style>