<template>
  <div class="container mt-3">
    <div class="modal-mask">
      <div class="modal-dialog">
        <div class="modal-content show">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" @click="closeModal()">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">{{message}}</div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" :class="`btn btn-success`" @click="accept()">Yes</button>
            <button type="button" :class="`btn btn-danger`" @click="reject()">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["message", "tipe"],
  created() {
    // Modal only show in 5 second
    setTimeout(() => {
      this.closeModal();
    }, 5000);
  },
  methods: {
    closeModal() {
      this.$root.$emit("closeModal");
    }
  }
};
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>