<template>
    <v-navigation-drawer v-model="drawerLeft"
                         app dark
                         src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg">
        <v-list dense>
            <template v-for="item in leftHeaders">
                <v-list-group
                        color=""
                        v-if="item.children"
                        :key="item.label">
                    <template v-slot:activator>
                        <v-list-item-action>
                            <v-icon>{{item.icon}}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{item.label}}
                            </v-list-item-title>
                        </v-list-item-content>
                    </template>
                    <v-list-item v-for="(ch, i) in item.children"
                                 active-class="active"
                                 :key="i"
                                 :to="`${ch.link}`">
                        <v-list-item-action>
                            <v-icon>{{ch.icon}}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>{{ch.label}}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-group>
                <v-list-item v-else
                             active-class="active"
                             link
                             :key="item.label"
                             :to="`${item.link}`">
                    <v-list-item-action>
                        <v-icon>{{item.icon}}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>
                            {{item.label}}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>
        </v-list>
        <template v-slot:prepend>
            <v-toolbar src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg">
                <v-img
                        alt="Vuetify Logo"
                        class="shrink mr-2"
                        contain
                        src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
                        transition="scale-transition"
                        width="40"
                />
                <v-toolbar-title>Vuetify</v-toolbar-title>
            </v-toolbar>
        </template>
    </v-navigation-drawer>
</template>
<script>
    export default {
        data() {
            return {
                leftHeaders: [
                    {link: '/', icon: 'mdi-home', label: 'Home'},
                    {
                        link: '/crud', icon: 'mdi-table-large', label: 'Tabel',
                        children:
                            [
                                {link: '/crud/transaksi', label: 'Transaksi', icon: 'mdi-book-open'},
                                {link: '/crud/user', label: 'User', icon: 'mdi-account'},
                                {link: '/crud/kategori', label: 'Kategori', icon: 'mdi-animation'},
                                {link: '/crud/tag', label: 'Tag', icon: 'mdi-tag'},
                                {link: '/crud/akun', label: 'Akun', icon: 'mdi-account-card-details'},
                            ],
                        model: false
                    },
                    {link: '/news', icon: 'mdi-newspaper-variant', label: 'Berita'}
                ]
            }
        },
        computed: {
            drawerLeft: {
                set(drawer){
                    this.$parent.$data.drawerLeft = drawer
                },
                get(){
                    return this.$parent.$data.drawerLeft
                }
            }
        }
    }
</script>