<template>
     <v-navigation-drawer v-model="drawerRight" app right temporary>
          <v-list>
               <v-list-item
                    active-class="active"
                    link
                    v-for="(header, index) in rightHeaders"
                    :key="index"
                    :to="`${header.link}`"
               >
                    <v-list-item-action>
                         <v-icon>{{ header.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                         <v-list-item-title>{{
                              header.label
                         }}</v-list-item-title>
                    </v-list-item-content>
               </v-list-item>
               <v-list-item
                    active-class="active"
                    link
                    v-if="token != null"
                    @click="logout()"
               >
                    <v-list-item-action>
                         <v-icon>mdi-logout</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                         <v-list-item-title>Logout</v-list-item-title>
                    </v-list-item-content>
               </v-list-item>
               <v-list-item to="/login" active-class="active" link v-else>
                    <v-list-item-action>
                         <v-icon>mdi-login</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                         <v-list-item-title>Login</v-list-item-title>
                    </v-list-item-content>
               </v-list-item>
          </v-list>
          <template v-slot:prepend>
               <v-toolbar color="blue darken-2" dark>
                    <v-list>
                         <v-list-item-avatar>
                              <v-img
                                   src="https://randomuser.me/api/portraits/women/81.jpg"
                              />
                         </v-list-item-avatar>
                    </v-list>
                    <v-toolbar-title>Profile</v-toolbar-title>
               </v-toolbar>
          </template>
          <template v-slot:append>
               <v-menu offset-y>
                    <template v-slot:activator="{ on }">
                         <v-btn color="primary" dark v-on="on" block>
                              Theme
                         </v-btn>
                    </template>
                    <v-list>
                         <v-list-item @click="SET_THEME(true)">
                              <v-list-item-title>
                                   Dark
                              </v-list-item-title>
                         </v-list-item>
                         <v-list-item @click="SET_THEME(false)">
                              <v-list-item-title>
                                   Light
                              </v-list-item-title>
                         </v-list-item>
                    </v-list>
               </v-menu>
          </template>
     </v-navigation-drawer>
</template>
<script>
import { mapMutations, mapState } from "vuex";

export default {
     data() {
          return {
               rightHeaders: [
                    {
                         link: "/user/profile",
                         icon: "mdi-account",
                         label: "Profil"
                    },
                    { link: "/setting", icon: "mdi-settings", label: "Setting" }
               ]
          };
     },
     computed: {
          ...mapState("user", ["token"]),
          drawerRight: {
               set(drawer) {
                    this.$parent.$data.drawerRight = drawer;
               },
               get() {
                    return this.$parent.$data.drawerRight;
               }
          }
     },
     methods: {
          ...mapMutations("user", ["REMOVE_TOKEN", "SET_THEME"]),
          logout() {
               this.REMOVE_TOKEN();
               this.$router.push("/login");
          }
     }
};
</script>
