<template>
     <div class="container mt-2">
          <ul class="nav nav-tabs">
               <li class="nav-item">
                    <router-link
                         class="nav-link"
                         active-class="nav-link active"
                         to="/crud/user"
                         >User</router-link
                    >
               </li>
               <li class="nav-item">
                    <router-link
                         class="nav-link"
                         active-class="nav-link active"
                         to="/crud/kategori"
                         >Kategori</router-link
                    >
               </li>
               <li class="nav-item">
                    <router-link
                         class="nav-link"
                         active-class="nav-link active"
                         to="/crud/subkategori"
                         >Subkategori</router-link
                    >
               </li>
               <li class="nav-item">
                    <router-link
                         class="nav-link"
                         active-class="nav-link active"
                         to="/crud/transaksi"
                         >Transaksi</router-link
                    >
               </li>
          </ul>
     </div>
</template>
<script>
export default {
     computed: {
          navLink: function() {
               return "nav-link active";
          }
     }
};
</script>
