<template>
  <div class="container mt-4">
    <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="errors">
      <p v-for="(msg, index) in message" :key="index">{{msg}}</p>

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card">
      <div class="card-header">Edit user</div>
      <div class="card-body">
        <form @submit.prevent="submitForm()" method="post" name="submitForm">
          <div class="row">
            <div class="col-md-6">
              <label for="email">Email</label>
              <input type="text" class="form-control" v-model="item.email" placeholder="Email" />
            </div>
            <div class="col-md-6">
              <label for="nama">Nama</label>
              <input type="text" class="form-control" v-model="item.name" placeholder="Nama" />
            </div>
            <div class="col-md-6 mt-2">
              <label for="password">Password Baru</label>
              <input type="password" :class="className.password" v-model="item.password" />
            </div>
            <div class="col-md-6 mt-2">
              <label for="password">Ulangi Password</label>
              <input type="password" :class="confirm" v-model="passConfirm" />
              <div class="invalid-feedback">Password tidak sesuai</div>
            </div>
            <div class="col-md-12 mt-2">
              <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
const axios = require("axios").default;
const URL = "http://127.0.0.1:8000/api/user/";
export default {
  data() {
    return {
      item: {},
      snackbar: "",
      errors: false,
      message: [],
      className: {
        password: "form-control"
      },
      passConfirm: ""
    };
  },
  computed: {
    confirm() {
      if (this.item.password != this.passConfirm) {
        return "form-control is-invalid";
      } else {
        return "form-control is-valid";
      }
    }
  },
  methods: {
    submitForm() {
      let app = this;
      axios.post(URL, this.item).then(res => {
        if (res.data.status == "failed") {
          app.errors = true;
          app.message = res.data.message;
        } else {
          app.$router.push({ path: "/user" });
        }
      });
    }
  }
};
</script>