<template>
    <v-row>
        <v-col md="12">
            <base-table :items="posts" :header="headers" title="Transaksi" />
        </v-col>
    </v-row>
</template>
<script>
import { mapActions, mapState } from "vuex";
import BaseTable from "../../components/BaseTable";

export default {
    components: { BaseTable },
    data() {
        return {
            search: "",
            select: [],
            headers: [
                { text: "ID", value: "id" },
                { text: "Nama", value: "name" },
                { text: "Email", value: "email" },
                { text: "Action", value: "action" }
            ]
        };
    },
    computed: {
        ...mapState("crud", ["posts"])
    },
    async mounted() {
        await this.fetchData("user");
    },
    methods: {
        ...mapActions("crud", ["fetchData"])
    }
};
</script>
