<template>
    <v-container>
        <v-row no-gutters class="justify-center align-center">
            <v-col md="5">
                <v-card elevation="10" dark>
                    <v-carousel
                        hide-delimiter-background
                        :show-arrows="false"
                        height="450"
                    >
                        <v-carousel-item v-for="(slide, i) in slides" :key="i">
                            <v-sheet :color="colors[i]" height="100%">
                                <v-row
                                    class="fill-height"
                                    align="center"
                                    justify="center"
                                >
                                    <div class="display-3">
                                        {{ slide }} Slide
                                    </div>
                                </v-row>
                            </v-sheet>
                        </v-carousel-item>
                    </v-carousel>
                </v-card>
            </v-col>
            <v-col md="5">
                <v-card
                    height="calc(100% - 30px)"
                    elevation="8"
                    :disabled="loading"
                >
                    <v-tabs centered v-model="tabs">
                        <v-tab :key="`login`">Login</v-tab>
                        <v-tab :key="`register`">Register</v-tab>
                    </v-tabs>
                    <v-form @submit.prevent="submit()">
                        <v-card-text>
                            <v-tabs-items v-model="tabs">
                                <v-tab-item :key="`login`">
                                    <v-text-field
                                        v-model="user.email"
                                        class="mx-3"
                                        label="Email"
                                        type="Email"
                                        prepend-icon="mdi-email"
                                        :error-messages="errors.email"
                                    />
                                    <v-text-field
                                        v-model="user.password"
                                        class="mx-3"
                                        label="Password"
                                        type="password"
                                        prepend-icon="mdi-lock"
                                        :error-messages="errors.password"
                                    />
                                    <v-checkbox
                                        class="mx-3"
                                        label="Simpan kata sandi ?"
                                    />
                                </v-tab-item>
                                <v-tab-item :key="`register`">
                                    <v-text-field
                                        class="mx-3"
                                        label="Username"
                                        type="text"
                                        prepend-icon="mdi-account"
                                    />
                                    <v-text-field
                                        class="mx-3"
                                        label="Email"
                                        type="Email"
                                        prepend-icon="mdi-email"
                                    />
                                    <v-text-field
                                        class="mx-3"
                                        label="Password"
                                        type="password"
                                        prepend-icon="mdi-lock"
                                    />
                                    <v-checkbox
                                        class="mx-3"
                                        label="I have read and accept the Privacy Policy"
                                    />
                                </v-tab-item>
                            </v-tabs-items>
                        </v-card-text>
                        <v-card-actions class="d-flex justify-center">
                            <v-btn
                                rounded
                                color="blue"
                                dark
                                width="200"
                                type="submit"
                                :loading="loading"
                            >
                                Submit
                            </v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import { mapActions } from "vuex";
export default {
    data() {
        return {
            user: {
                email: "",
                password: ""
            },
            loading: false,
            tabs: null,
            colors: ["indigo", "warning", "pink darken-2"],
            errors: [{ email: "", password: "" }],
            slides: ["First", "Second", "Third"]
        };
    },
    created() {},
    methods: {
        ...mapActions("user", ["login"]),
        submit: async function() {
            this.loading = true;
            let params = {
                url: "login",
                data: this.user
            };

            if (this.tabs == 0) {
                let response = await this.login(params);
                if (response.status === "failed") {
                    this.errors.email = response.message;
                    this.errors.password = response.message;

                    setTimeout(() => {
                        this.errors.email = "";
                        this.errors.password = "";
                    }, 5000);
                } else {
                    this.$router.push("/");
                    alert("login sukses");
                }
            }
            this.loading = false;
        }
    }
};
</script>
