<template>
    <v-container>
        <v-row>
            <v-snackbar v-model="snackbar" :timeout="timeout" top color="warning">
                <p v-if="!disabled">Form edit enable</p>
                <p v-else>Form edit disable</p>
            </v-snackbar>
            <v-col md="8">
                <v-card shaped>
                    <v-progress-linear v-if="!disabled"
                                       :height="5"
                                       :color="lineColor"
                                       :value="checkComplete"/>
                    <v-toolbar>
                        <v-toolbar-title>Profile</v-toolbar-title>
                        <v-spacer/>
                        <v-btn
                                color="blue"
                                fab elevation="2"
                                small
                                @click="openForm()"
                        >

                            <v-icon small v-if="disabled">mdi-pencil</v-icon>
                            <v-icon small v-else>mdi-close</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-divider/>
                    <v-form ref="form" @submit.prevent="submit()">
                        <v-card-text>
                            <v-text-field class="mx-4"
                                          v-model="name"
                                          label="Name"
                                          type="text"
                                          counter="5"
                                          :rules="rName"
                                          :disabled="disabled"
                                          prepend-icon="mdi-account"/>
                            <v-text-field class="mx-4"
                                          v-model="email"
                                          label="Email"
                                          type="email"
                                          :disabled="disabled"
                                          prepend-icon="mdi-email"/>
                            <v-subheader>Change Password</v-subheader>
                            <v-text-field class="mx-4"
                                          label="Old Password"
                                          type="password"
                                          v-model="password"
                                          append-icon="mdi-lock"
                                          :error-messages="eMessage"
                                          :disabled="disabled"
                                          :loading="passload"/>
                            <v-text-field class="mx-4"
                                          v-model="newpass"
                                          label="New Password"
                                          type="password"
                                          counter="6"
                                          append-icon="mdi-lock"
                                          :disabled="disabled"
                                          :error-messages="valPass"/>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer/>
                            <v-btn
                                    class="mx-5"
                                    color="primary"
                                    type="submit"
                                    :disabled="disabled">
                                Submit
                            </v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-col>
            <v-col md="4">
                <v-card shaped>
                    <input type="file" id="fileSrc" ref="upload" @change="setImage()" hidden>
                    <v-file-input style="display: none"/>
                    <v-toolbar>
                        <v-toolbar-title>Biodata</v-toolbar-title>
                        <v-spacer/>
                        <v-btn fab small color="blue" @click="$refs.upload.click()">
                            <v-icon small>mdi-pencil</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-divider/>

                    <v-list three-line>
                        <v-list-item>
                            {{srcFile}}
                            <v-img v-if="srcFile != ''" :src="srcFile"/>
                            <v-img v-else src="https://image.flaticon.com/icons/png/512/147/premium/147131.png"/>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-content class="text-center">
                                <v-list-item-title>Biografi</v-list-item-title>
                                <v-list-item-subtitle>Detail</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    const token = sessionStorage.getItem('token')
    const axios = require('axios').default;
    axios.defaults.headers.common['Authorization'] = 'Bearer ' + token;

    export default {
        data() {
            return {
                fileUpload: '',
                timeout: 2000,
                srcFile: '',
                snackbar: false,
                disabled: true,
                loading: false,
                eMessage: '',
                name: '',
                email: '',
                password: '',
                newpass: '',
                passload: false,
                rName: [r => r.length >= 5 || 'Nama kurang dari 5 karakter'],
                rPassword: [r => r.length >= 5 || 'Nama kurang dari 6 karakter']
            }
        },
        computed: {
            valPass: function () {
                if ((this.password == this.newpass) || (this.newpass.length == 0)) {
                    return ""
                } else {
                    return "Password tidak sama"
                }
            },
            checkComplete: function () {
                let progress = 0;
                this.email != '' ? progress += 25 : progress;
                this.name != '' ? progress += 25 : progress;
                this.password != '' ? progress += 25 : progress;
                this.newpass != '' ? progress += 25 : progress;
                return progress

            },
            lineColor: function () {
                if (this.checkComplete < 50 && this.checkComplete >= 0) {
                    return 'warning'
                } else if (this.checkComplete >= 50 && this.checkComplete <= 75) {
                    return 'primary'
                } else {
                    return 'success'
                }
            }
        },
        methods: {
            async submit() {
                let response = await this.checkPass();
                console.log(response)
                if (response.status != 'failed') {
                    this.eMessage = ''
                    if (this.$refs.form.validate()) {
                        console.log("")
                    }
                } else {
                    this.eMessage = response.message;
                    setTimeout(() => {
                        this.eMessage = ""
                    }, 5000)
                }
            },
            async checkPass() {
                let url = "http://127.0.0.1:8000/api/user/check";
                let request = await axios.post(url, {email: this.email, password: this.password});
                return request.data;
            },
            openForm() {
                this.disabled = !this.disabled;
                this.snackbar = true
            },
            setImage() {
                let src = document.getElementById('fileSrc').files[0];
                console.log(src)
            }
        }
    }
</script>